.container {
    padding: 30px;
}

h1 {
    margin-top: 0px;
}
.destacada {
	background-color: #ffeaa7;  // Color de fondo para tareas destacadas
	font-weight: bold;            // Texto en negrita para destacar
}
